body {
    font-family: 'Nunito', sans-serif;
}

/* ---- CONTAINERS ---- */

.page-container {
        width: 100vw;
    }

.entry-container {
    margin: 1em 0;
    padding: 1em;
    border-style: solid;
}

/* ---- FORM-CONTROLS ---- */
.navbar-search {
    min-width: 30em !important;
}

/* ---- SIDEBAR ---- */
/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 5; /* Stay on top */
    top: 0;
    right: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 1em;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
    border-left-color: rgb(206, 212, 218);
    border-left-style: solid;
    border-left-width: 1px;
}

/* The sidebar links */
.sidebar a {
  padding: 0.3em 0.5em !important;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0.5em;
  right: 25px;
  margin-left: 50px;
}
/* ---- /SIDEBAR ---- */


/* ---- MEDIA QUERIES ---- */

@media (min-width: 768px) {
    .page-container {
        width: 60vw;
    }
    
}

/* ---- SIDEBAR ---- */
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
/* ---- /SIDEBAR ---- */